%-*-Erlang-*-
{erl_opts, [debug_info]}.

{deps, [
	{cowboy, "2.8.0"},
	{prometheus, "4.8.0"},
	{prometheus_cowboy, "0.1.8"},
	{eflame, {git, "https://github.com/2600hz/erlang-eflame.git", {branch, "master"}}}
	%% {eflame, {git, "https://github.com/baseballlover723/eflame.git", {branch, "master"}}}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [prom]}
]}.
